<!-- profile_detail.html -->
{% extends 'base.html' %}

{% block content %}
  <h2>{{ user_profile.first_name }} {{ user_profile.last_name }}'s Profile</h2>
  <p><strong>Email:</strong> {{ user_profile.email }}</p>
  <p><strong>Phone Number:</strong> {{ user_profile.phone_number }}</p>
  <p><strong>Major Area of Study:</strong> {{ user_profile.major_area_of_study }}</p>
  <p><strong>Year in Program:</strong> {{ user_profile.year_in_program }}</p>
  <p><strong>Bio:</strong> {{ user_profile.bio }}</p>

  <a href="{% url 'edit_profile' %}">Edit Profile</a>
{% endblock %}

